<div class="navbar navbar-expand-sm navbar-dark bg-primary py-2">
  <div class="container-sm">
    <a routerLink="/home" class="navbar-brand h1">BookReview</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors" routerLinkActive="active"
            >Authors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" routerLinkActive="active"
            >Books</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
