<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form class="form" id="form-books">
      <legend class="h1" style="text-align: center">Search books</legend>
      <!--
  <div class="mb-3">
    <div class="input-group">
      <select class="form-select" id="initial-selection">
        <option selected>Search by initial</option>
      </select>
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
  -->
      <div class="mb-3">
        <div class="input-group">
          <input
            type="text"
            id="bookTitle"
            class="form-control"
            placeholder="Book title"
          />
          <button type="button" class="btn btn-primary" id="bookSearch">
            Search Book
          </button>
        </div>
      </div>
      <div class="mb-3">
        <button
          type="button"
          class="form-control btn btn-primary"
          id="showAllBooks"
          (click)="showAllBooks()"
        >
          Show all books
        </button>
      </div>
    </form>
  </div>
</div>
